@model Coffee.Models.Amounts
@{
    ViewBag.Title = "Place Order";

}

<h2>Place Order</h2>
<table class="table">


    @for (int i = 0; i < Model.Drinks.Count(); i++)
    {
        var item = Model.Drinks[i];
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rec)
            </td>
            <td>
                @Html.TextBoxFor(x => Model.Am[i])
                

            </td>
        </tr>

    }
    @Html.ActionLink("Place Order", "Add", new { B = Model.Am })
</table>


   