@model IEnumerable<Coffee.Models.Drink>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            
        </td>
    </tr>
}
    @Html.ActionLink("Place", "Place", "Orders", new { B = new List<Coffee.Models.Drink>() }, null)

</table>
